/****************************************/
/*  __________  DEV HELP ____________  */
/*
.brdr
{
    border: 2px solid black;
}

._red
{
    border-color: red;
}

._green
{
    border-color: green;
}

._blue
{
    border-color: blue;
}

/****************************************/
/*  __________  GENERAL ______________  */

body 
{
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
}

#mainContainer
{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}


/****************************************/
/*  __________  HEADER ______________  */

header
{
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 10px;
}



/* Logo */
#hdr_logo
{
    margin-right: auto;
}

/* nav */
nav
{
    margin-right: 50px;
    width: 320px;
}

header ul
{
    display: flex;
    justify-content: center;
    width: 100%;
}

header li
{
    display: flex;
    justify-content: center;
    width: 50%;
    list-style: none;
}

header a
{
    text-decoration: none;
}


/****************************************/
/*  __________  SEARCH SCT __________  */

#srch_sct
{
    margin-top: 50px;
    width: 100%;
}

#srch_sct h1
{
    margin-bottom: 2px;
}

#srch_sct p
{
    margin-top: 5px;
}

p img
{
    margin-right: 10px;
}
#srch_sct img
{
    margin-right: 10x;
}

/* input */
.srch_input
{
    display: flex;
    padding-left: 0;
    border: none;
}

.srch_input input
{
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    border-left: none;
    border-right: none;
    padding-left: 10px;
    width: 230px;
    font-size: 12pt;
    font-weight: bold;
}

/* map marker */
.map_mrkr_svg
{
    display: flex;
    border: 1px lightgrey solid;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}

/* button */
.srch_bttn
{
    width: 130px;
    height: 50px;
    border: 1px lightgray solid;
    border-top-right-radius: 10% 30%;
    border-bottom-right-radius: 10% 30%;
    background-color: blue;
    color: white;
    font-size: 12pt;
}

/* filters */
.fltr_cntnr
{
    display: flex;
    align-content: space-between;
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.fltr_cntnr p
{
    font-weight: bold;
    margin-right: 10px;
}

.fltr
{
    display: flex;
    width: auto;
    height: 50px;
    border: 2px solid lightgray;
    border-radius: 25px;
    margin-left: 20px;
    margin-bottom: 15px;
    max-width: 230px;
}


/****************************************/
/*  __________  ACCOMODATION ________  */

#acc_sct
{
    display: flex;
    flex-wrap: wrap-reverse;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
}

.all_acc_cntnr
{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: lightgrey;
    border-radius: 25px;
    padding: 30px;
}

.elem_cntnr
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-self: center;
    width: 100%;
}

.acc_elem
{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 245px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 1px 1px 12px red;
}

.popular
{
    width: 345px;
    height: 145px;
    flex-direction: row;
}

.acc_img_frame
{
    align-self: center;
    width: 235px;
    height: 115px;
    margin-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    background-image: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-repeat: no-repeat;
}

.popular .acc_img_frame
{
    width: 125px;
    height: 135px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    margin-top: 0px;
    margin-left: 5px;
}

.acc_dscrpt
{
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 65px;
    margin: 5px;
    margin-left: 15px;
}

.popular .acc_dscrpt
{
    width: 200px;
    height: 115px;
    margin-top: 15px;
}

.acc_dscrpt h3
{
    margin: 2px;
}

.acc_dscrpt p
{
    margin: 2px;
}

.star_cntnr
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: auto;
    margin-left: 2px;
}

.star_cntnr img
{
    margin-right: 1px;
}

@media all and (max-device-width: 480px) 
{
    .elem_cntnr
    {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .acc_elem
    {
        width: 335px;
    }

    .acc_elem .acc_img_frame
    {
        width: 325px;
    }

    .popular .acc_img_frame
    {
        width: 125px;
    }
}

/* popular accomodations */
#pop_acc_cntnr
{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 280px;
    background-color: lightgrey;
    border-radius: 25px;
    padding: 30px;
}

.hor_cntnr
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pop_acc_elem_cntnr
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-self: center;
}


/****************************************/
/*  __________  ACTIVITIES __________  */

#act_sct
{
    display: flex;
    flex-direction: column;
}

.act_cntnr
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 500px;
}

.act_elem
{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 12px grey;
    margin-bottom: 20px;
}

.act_elem h3
{
    height: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 10px;
}

.act_img
{
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.large
{
    height: 390px;
}

.medium
{
    height: 180px;
}

.small
{
    height: 120px;
}

/* loading photos */ 
#port_img
{
    background-image: url("../images/activites/lbl/vieux_port_lbl_img.jpg");
}

#pomegue_img
{
    background-image: url("../images/activites/lbl/pomegue_lbl_img.jpg");
}

#frioul_img
{
    background-image: url("../images/activites/lbl/frioul_lbl_img.jpg");
}

#calanques_img
{
    background-image: url("../images/activites/lbl/calanques_lbl_img.jpg");
}

#nddlg_img
{
    background-image: url("../images/activites/lbl/nddlg_lbl_img.jpg");
}

#lngchmp_img
{
    background-image: url("../images/activites/lbl/longchamp_lbl_img.jpg");
}

/****************************************/
/*  __________  FOOTER ______________  */

footer
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: lightgrey;
    padding: 20px;
}

.footer_elem
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer_elem h2
{
    margin-top: 5px;
    margin-bottom: 20px;
}

.footer_elem p
{
    margin-top: 5px;
}


/****************************************/
/*  __________  RESPONSIVE __________  */

@media all and (max-device-width: 480px) 
{
    /* HEADER */
    header
    {
        justify-content: space-between;
    }

    #hdr_logo
    {
        margin-left: 10px;
    }

    header nav
    {
        order: 3;
        width: 80%;
        justify-self: center;
    }

    nav ul
    {
        justify-content: flex-start;
        width: 100%;
    }

    nav li
    {
        width: 50%;
    }

    /* search section */
    .srch_bttn
    {
        width: 50px;
        height: 50px;
        background-image: url("../images/logo/search-solid.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 15px 15px;
        border-radius: 15px;
        font-size: 0;
    }

    #srch_sct p
    {
        display: flex;
    }

    .fltr_cntnr
    {
        height: auto;
    }

    /* accomodation section */
    #acc_sct
    {
        justify-content: flex-start;
    }

    #pop_acc_cntnr
    {
        width: 100%;
        border-radius: 5px;
    }

    

    .all_acc_cntnr
    {
        background: none;
        width: 100%;
        align-self: center;
        padding: 0px;
    }



    /* ACTIVITY SECTION */
    .act_cntnr
    {
        height: auto;
        align-content: center;
    }

    .large
    {
        height: 120px;
    }

    .medium
    {
        height: 120px;
    }

    /* FOOTER */

      
}